*
{
	margin: 0;
	padding: 0;
}


body{
	font-family: sans-serif;
	background-color: #232947; 
	color: #fff;
}
/* header */

span{
	background-color: white;
	color:black;
	padding: 3px;
}

header
{
	display: flex;
	justify-content: space-between;
	background-color: #232947; 
	color: #FFF;
	padding: 18px;
}
header a 
{
	color: white;
	text-decoration: none;

}

.ban{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 350px;
	background-color: #232947;
	color: #FFF;
	padding: 35px;
}

.parahead{
	display: flex;
	align-items: center;
}

.ban h1{
	margin: 20px;
}

.ban p{
	margin: 20px;
}

#btn_inscr
{
	background: none;
	height: 50px;
	width: 150px;
	padding: 5px;
	border: 2px solid white;
}

.fa-long-arrow-right{
	margin-left: 20px;
}


/*end header*/

/* Section image */

.imagedumilieu{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.bloc1, .bloc2, .bloc3{
	display: flex;
	width: 100%;
	height: 300px;
	justify-content: space-between;
}

.bloc1 div, .bloc2 div, .bloc3 div{
	display: flex;
	flex: 1;
	justify-content: center;
	flex-direction: column;
	padding-left: 20px;
}

.bloc1 article, .bloc2 article, .bloc3 article{
	display: flex;
	flex: 2;
	justify-content: center;
	flex-direction: column;
	padding-left: 20px;
}

.bloc1 div{
	background-image: url("images/pic01.jpg");
}

.bloc1 article{
		background-image: url("images/pic02.jpg");

}

.bloc2 article{
	background-image: url("images/pic03.jpg");
}

.bloc2 div{
		background-image: url("images/pic04.jpg");

}

.bloc3 div{
	background-image: url("images/pic05.jpg");
}

.bloc3 article{
	background-image: url("images/pic06.jpg");

}

/* End section image */


/*massa libero*/




/*end massa libero*/

/*contact*/

.formulaire {
	display: flex;
	flex-direction: column;
	margin: 0 15px 15px 15px;
	width: 50%;
}

#envoyer {
	margin: 10px 10px 10px 0;
	height: 50px;
	width: 150px;
	background-color: #fff;
	color: #232947; 
}

#effacer {
	margin:10px;
	height: 50px;
	width: 150px;
	border:solid 2px white;
}
.duobouton{
	display: flex;
	flex-direction: row;
}

.duoinput{
	display: flex;
	flex-direction: column;
	width: 225px;


}

form input {
	border: inherit;
	background-color: rgba(212,212,255,0.035)!important;

}

.nomemail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px; 
}
textarea {
	height: 170px;
	background-color: rgba(212,212,255,0.035);
	border: inherit;
}

label {
	margin-bottom: 10px; 
}

.contact{
	display: flex;
	justify-content: space-between;
}
section form{
	display: flex;
	flex-direction: row;
}
section form label{

}
section form input{
	height: 50px;
	background-color: rgba(35,41,71,0.1);
}
aside a{
	color: white;
}

/*end contact*/


/* footer */

footer ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 10px;
}
footer li{
	margin: 15px;
}

footer{
	background-color: #232947;

}
footer a{
	color: #FFF;
}
/*end footer*/
/* couleur bleu clair #2A2F4A*/
/* couleur des div image #77BFD8 #7D75B3 #E4928A #DFB790 #889ED5 #7AAE95 */

